<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Projects/testAutomation"  group-by-instances="true">
        <classes>
            <class name="testAutomation.setUp"/>
            <class name="testAutomation.Shopping"/>
            <class name="testAutomation.CheckPurchases"/>
            <class name="testAutomation.CheckOut"/>
            <class name="testAutomation.SigneUpForShopping"/>
            <class name="testAutomation.ConfirmAddress"/>
            <class name="testAutomation.ShippingConfirmation"/>
            <class name="testAutomation.ConfirmPayment"/>
            <class name="testAutomation.OrderConfirm"/>
            <class name="testAutomation.CustomerService"/>
            <class name="testAutomation.FillContactUs"/>
        </classes>
    </test>
</suite>
